section.about{
  margin-top: 100px;
}

div.showsBlock{
  display: block;
  margin: 0 auto;
  width: 95vw;
  text-align: center;
}
img.profilePhoto{
  height: 300px;
}
section.shows{
  width: 70vw;
  display: inline-block;
  margin-top: 20px;
}

ul.shows{
  padding: 0;
}

li.show{
  padding: 8px 0;
  background: $middle;
  border-radius: 6px;

  h4.date{
    font-family: $font-style;
    display: inline;
    margin-right: 10px;
  }
  p.show{
    font-family: $font-style;
    display: inline;
  }
}
li.show, div.com{
  margin: 5px 0;
  list-style-type: none;
}
section.shows h3.title{
  padding: 10px 10px;
  background: $dark;
  color: $light;
}

section.comission{
  width: 95vw;
  margin: 40px auto 0 auto;
}

ul.comissions{
  background: none;
  padding: 0;
}
div.com{
  margin: 10px 0;
}

h3.work{
  padding: 10px 15px 5px 15px;
}
p.client{
  padding: 0 15px 10px 15px;
}


.informationTab{
  width: 90vw;
  margin: 20px auto;
  font-family: $font-style;
}
.tab{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 40px;
  padding: 5px 20px;
  background: $middle;
  border-radius: 8px 8px 0 0;
  margin-right: 5px;
}
.tab:hover{
  cursor: pointer;
}
.show{
  display: block;
  opacity: 1;
  background: $middle;
  margin-top: -10px;
  border-radius: 0 8px 8px 8px;
}
.hide{
  display: none;
  opacity: 0;
}