
section.about{
  width: 95vw;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  height: auto;
  min-height: 250px;

  div.text{
    padding-top: 55px;
  }
  h3{
    display: inline;
  }
  p{
    width: 80%;
  }
}

p.blurb{
  margin-top: 15px;
}
img.profilePhoto{
  height: 250px; 
  border-radius: 7px;
  display: inline;
  float:right;
}

.currentWork{
    margin: 0 auto 50px auto;

    h3{
      text-align: center;
    }

    a{
      margin: 0 auto;
    }
  }