// Colour Sets
$light : ghostwhite;
$middle : #e1f5fe;
$dark : #afc2cb;

$font-style : helvetica, sans-serif;

*{
  margin:0;
  box-sizing: border-box;
}

a{
  color: unset;
  text-decoration: none;
}
