
header{
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 0 20px;
  background-color: $dark;
  font-family: $font-style;
}

a.heading{
  font-size: 24px;
  line-height: 80px;
  height: 100%;
  font-weight: 200;
  position: absolute;
  color: $light;
}

nav{
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  float: right;
  line-height: 80px;
}

li{
  display: inline;
  color: $light;
}
a.navItems{
  padding: 31px 15px;
}
a.navHover:hover{
  padding: 31px 8px;
  color: $dark;
  background-color: $light;
  font-weight: bold;
}
