.itemContainer{
  margin: 90px auto 0 auto;
  width: 90vw;
  max-width: 1200px;
  text-align: center;
  font-family: $font-style;
  padding-top: 65px;
}

.titleIndividual{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.imageInfoContainer{
  width: 90vw;
  max-height: 500px;
}

.artworkImageIndividual{
  height: auto;
  max-height: 500px;
  max-width: 51%;
  display: inline-block;
  margin-bottom: -12%;
  margin-right: 1%;
  border-radius: 5px;
}

.informationContainer{
  display: inline-block;
  width: 39%;
}

.infoIndividual, .info2Individual{
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.buy{
  margin-top: 10px;
  height: 80px;
  line-height: 70px;
  font-size: 30px;
}

.paintingInfo{
  margin-bottom: 10px;
}

.back{
  float: left;
  display: block;
  padding: 20px 20px 20px 40px;
  background-color: $dark;
  border: 1px solid $dark;
  color: $light;
  border-radius: 0 8px 8px 0;
  font-family: $font-style;
  transition: all 300ms ease-in-out;
}
.back:hover{
  background-color: $light;
  color: #16161d;
  box-shadow: 3px 3px 15px $dark;
}