.container{
  font-family: $font-style;
  text-align: center;
  width: 95vw;
  max-width: 1200px;
  margin: 100px auto 20px auto;

  .currentSale{
    display: grid;
    grid-template-columns: 32% ;
    grid-template-rows: 100%, 100%, 100% ; 
    grid-gap: 15px 2%;
  }
  .artworkContainer{
    background: none;
    padding: 10px 15px;
    border-radius: 7px;
    .title{
      font-weight: 600;
    }
    img.artworkImage{
      width: 100%;
      height: auto;
    }
    .info{
      font-weight: 300;
      margin-top: 10px;
    }
    .info2{
      font-weight: 300;
      margin-top: 5px;
    }
  }

}