* {
  margin: 0;
  box-sizing: border-box; }

a {
  color: unset;
  text-decoration: none; }

.padding {
  padding: 0 40px; }

.btn-std {
  display: block;
  width: 150px;
  text-align: center;
  font-family: helvetica, sans-serif;
  padding: 10px 20px;
  background: #afc2cb;
  color: ghostwhite;
  border-radius: 5px;
  transition: all 700ms ease;
  box-shadow: 3px 3px 3px grey; }

.btn-std:hover {
  background: ghostwhite;
  color: #afc2cb;
  font-weight: 600;
  padding: 15px 25px;
  width: 250px; }

.btn-sml {
  display: block;
  text-align: center;
  padding: 5px 10px;
  background: #afc2cb;
  color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px;
  bottom: 0; }

div.pageBottom {
  margin-bottom: 50px; }

@media (max-width: 660px) {
  div.pageBottom {
    margin-bottom: 30px; } }

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 0 20px;
  background-color: #afc2cb;
  font-family: helvetica, sans-serif; }

a.heading {
  font-size: 24px;
  line-height: 80px;
  height: 100%;
  font-weight: 200;
  position: absolute;
  color: ghostwhite; }

nav {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  float: right;
  line-height: 80px; }

ul.header {
  background: #afc2cb; }

a.navItems {
  display: inline;
  color: ghostwhite;
  padding: 31px 15px; }

a.navHover:hover {
  padding: 31px 15px;
  color: #afc2cb;
  background-color: ghostwhite;
  font-weight: bold; }

.slideMenuOpen {
  display: none; }

.introBanner {
  margin-top: 120px;
  width: 100vw;
  height: auto;
  background: ghostwhite;
  font-family: helvetica, sans-serif;
  padding: 30px 40px;
  box-shadow: 2px 2px 5px grey; }

.title {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px; }

.blurb {
  font-family: helvetica, sans-serif;
  font-weight: 200;
  font-style: italic; }

section.about {
  width: 95vw;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  height: auto;
  min-height: 220px; }
  section.about div.text {
    padding-top: 55px; }
  section.about h3 {
    display: inline; }
  section.about p {
    width: 80%; }

p.blurb {
  margin-top: 15px; }

img.profilePhoto {
  height: 220px;
  border-radius: 7px;
  display: inline;
  float: right; }

.currentWork {
  margin: 20px auto 50px auto; }
  .currentWork h3 {
    text-align: center; }
  .currentWork a {
    margin: 0 auto; }

.container {
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 95vw;
  max-width: 1200px;
  margin: 100px auto 20px auto; }
  .container .currentSale {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: auto;
    grid-gap: 15px 2%; }
  .container .artworkContainer {
    background: none;
    padding: 10px 15px;
    border-radius: 7px; }
    .container .artworkContainer .title {
      font-weight: 600; }
    .container .artworkContainer img.artworkImage {
      width: 100%;
      height: auto; }
    .container .artworkContainer .info {
      font-weight: 300;
      margin-top: 10px; }
    .container .artworkContainer .info2 {
      font-weight: 300;
      margin-top: 5px; }
    .container .artworkContainer div.sold {
      font-weight: 600;
      margin-top: 5px;
      display: block; }

.itemContainer {
  margin: 90px auto 0 auto;
  width: 90vw;
  max-width: 1200px;
  text-align: center;
  font-family: helvetica, sans-serif;
  padding-top: 65px; }

.titleIndividual {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px; }

.imageInfoContainer {
  width: 90vw;
  max-height: 500px; }

.artworkImageIndividual {
  height: auto;
  max-height: 500px;
  max-width: 51%;
  display: inline-block;
  margin-bottom: -12%;
  margin-right: 1%;
  border-radius: 5px; }

.informationContainer {
  display: inline-block;
  width: 39%; }

.infoIndividual, .info2Individual {
  font-style: italic;
  font-weight: 300;
  font-size: 20px; }

.buy {
  margin-top: 10px;
  height: 80px;
  line-height: 70px;
  font-size: 30px; }

.paintingInfo {
  margin-bottom: 10px; }

.back {
  float: left;
  display: block;
  padding: 20px 20px 20px 40px;
  background-color: #afc2cb;
  border: 1px solid #afc2cb;
  color: ghostwhite;
  border-radius: 0 8px 8px 0;
  font-family: helvetica, sans-serif;
  transition: all 300ms ease-in-out; }

.back:hover {
  background-color: ghostwhite;
  color: #16161d;
  box-shadow: 3px 3px 15px #afc2cb; }

section.about {
  margin-top: 100px; }

div.showsBlock {
  display: block;
  margin: 0 auto;
  width: 95vw;
  text-align: center; }

section.shows {
  width: 70vw;
  display: inline-block;
  margin-top: 20px; }

ul.shows {
  padding: 0; }

li.show {
  padding: 8px 0;
  background: #e1f5fe;
  border-radius: 6px; }
  li.show h4.date {
    font-family: helvetica, sans-serif;
    display: inline;
    margin-right: 10px; }
  li.show p.show {
    font-family: helvetica, sans-serif;
    display: inline; }

li.show, div.com {
  margin: 5px 0;
  list-style-type: none; }

section.shows h3.title {
  padding: 10px 10px;
  background: #afc2cb;
  color: ghostwhite; }

section.comission {
  width: 95vw;
  margin: 40px auto 0 auto; }

ul.comissions {
  background: none;
  padding: 0; }

div.com {
  margin: 10px 0; }

h3.work {
  padding: 10px 15px 5px 15px; }

p.client {
  padding: 0 15px 10px 15px; }

.informationTab {
  width: 90vw;
  margin: 20px auto;
  font-family: helvetica, sans-serif; }

.tab {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 40px;
  padding: 5px 20px;
  background: #e1f5fe;
  border-radius: 8px 8px 0 0;
  margin-right: 5px; }

.tab:hover {
  cursor: pointer; }

.show {
  display: block;
  opacity: 1;
  background: #e1f5fe;
  margin-top: -10px;
  border-radius: 0 8px 8px 8px; }

.hide {
  display: none;
  opacity: 0; }

@media (max-width: 660px) {
  header {
    margin-bottom: 6px; }
  a.heading {
    float: right;
    position: unset; }
  nav {
    margin-top: 5px;
    display: block;
    margin-left: -100vw;
    float: none;
    text-align: center; }
  nav.mainNavigation {
    margin-top: 5px;
    transition: 800ms ease-out; }
  ul {
    background: unset; }
  ul.menuContainer {
    width: 250px;
    padding: 0;
    border-radius: 0 0 6px 0; }
  a.navItems {
    font-size: 24px;
    display: block;
    padding: 0;
    width: 250px;
    height: 60px;
    line-height: 60px;
    background: #afc2cb; }
  a.last {
    border-radius: 0 0 6px 0; }
  .openClose {
    height: 60px;
    width: 60px;
    margin-left: -10px;
    margin-top: 10px; }
  .x, .y {
    height: 40px;
    width: 4px;
    background-color: ghostwhite;
    border-radius: 4px;
    margin-left: 28px; }
  .xOpen {
    transform: rotate(120deg);
    transition: 500ms ease-in-out; }
  .yOpen {
    margin-top: -21px;
    transform: rotate(-120deg);
    transition: 500ms ease-in-out; }
  .xClose {
    transition: 300ms ease-in-out;
    transform: rotate(-45deg);
    margin-top: 15px;
    height: 50px; }
  .yClose {
    transition: 300ms ease-in-out;
    transform: rotate(45deg);
    margin-top: -50px;
    height: 50px; }
  .menuMobileOpen {
    margin-top: 5px;
    margin-left: -20px;
    transition: 800ms ease-in; }
  a.navHover:hover {
    color: #afc2cb;
    background-color: ghostwhite;
    font-weight: bold;
    padding: 0; } }

@media (max-width: 600px) {
  img.profilePhoto {
    height: 200px;
    display: block;
    float: none;
    margin: 0 auto; }
  section.about {
    display: block; }
    section.about div.text {
      padding-top: 20px; }
    section.about p {
      width: 100%; } }

@media (max-width: 600px) {
  .container {
    font-family: helvetica, sans-serif;
    text-align: center;
    width: 95vw;
    max-width: 1200px;
    margin: 100px auto 20px auto; }
    .container .currentSale {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      grid-gap: 20px; }
    .container .artworkContainer .title {
      font-size: 24px; }
    .container .artworkContainer img.artworkImage {
      width: 100%;
      height: auto; }
    .container .artworkContainer .info {
      font-size: 20px; } }

@media (max-width: 660px) {
  .artworkImageIndividual {
    display: block;
    margin-bottom: 20px;
    width: 90vw;
    max-width: 95vw; }
  .informationContainer {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 90vw;
    margin-bottom: 40px; } }

@media (max-width: 660px) {
  section.shows {
    width: 95vw;
    display: block; }
  .informationTab {
    width: 90vw;
    margin: 20px auto;
    font-family: helvetica, sans-serif; }
  .show {
    border-radius: 0; }
  .tab {
    display: block;
    text-align: center;
    line-height: 40px;
    height: 50px;
    padding: 5px 20px;
    background: #e1f5fe;
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
    width: 100%; }
  .tabSelect {
    background: #afc2cb;
    color: ghostwhite;
    font-weight: bold; }
  .mobileRadius {
    border-radius: 0; } }
