* {
  margin: 0;
  box-sizing: border-box; }

a {
  color: unset;
  text-decoration: none; }

.padding {
  padding: 0 40px; }

.btn-std {
  display: block;
  width: 150px;
  text-align: center;
  font-family: helvetica, sans-serif;
  padding: 10px 20px;
  background: #afc2cb;
  color: ghostwhite;
  border-radius: 5px;
  transition: all 700ms ease;
  box-shadow: 3px 3px 3px grey; }

.btn-std:hover {
  background: ghostwhite;
  color: #afc2cb;
  font-weight: 600;
  padding: 15px 25px;
  width: 250px; }

.btn-sml {
  display: block;
  text-align: center;
  padding: 5px 10px;
  background: #afc2cb;
  color: ghostwhite;
  border-radius: 5px;
  margin-top: 5px; }

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 0 20px;
  background-color: #afc2cb;
  font-family: helvetica, sans-serif; }

a.heading {
  font-size: 24px;
  line-height: 80px;
  height: 100%;
  font-weight: 200;
  position: absolute;
  color: ghostwhite; }

nav {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  float: right;
  line-height: 80px; }

ul {
  background: #afc2cb; }

a.navItems {
  display: inline;
  color: ghostwhite;
  padding: 31px 15px; }

a.navHover:hover {
  padding: 31px 15px;
  color: #afc2cb;
  background-color: ghostwhite;
  font-weight: bold; }

.introBanner {
  margin-top: 120px;
  width: 100vw;
  height: auto;
  background: ghostwhite;
  font-family: helvetica, sans-serif;
  padding: 30px 40px;
  box-shadow: 2px 2px 5px grey; }

.title {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px; }

.blurb {
  font-family: helvetica, sans-serif;
  font-weight: 200;
  font-style: italic; }

section.about {
  width: 95vw;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  height: auto;
  min-height: 200px; }
  section.about div.text {
    padding-top: 55px; }
  section.about h3 {
    display: inline; }
  section.about p {
    width: 75%; }

div.profilePhoto {
  height: 200px;
  width: 150px;
  background: yellow;
  border-radius: 7px;
  display: inline;
  float: right; }

.currentWork {
  margin: 0 auto 50px auto; }
  .currentWork h3 {
    text-align: center; }
  .currentWork a {
    margin: 0 auto; }

.container {
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 95vw;
  max-width: 1200px;
  margin: 100px auto 20px auto; }
  .container .currentSale {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px 2%; }
  .container .artworkContainer {
    background: ghostwhite;
    padding: 10px 15px;
    border-radius: 7px; }
    .container .artworkContainer .title {
      font-weight: 600; }
    .container .artworkContainer img.artworkImage {
      width: 100%;
      height: auto; }
    .container .artworkContainer .info {
      font-weight: 300; }
    .container .artworkContainer .info2 {
      font-weight: 300;
      margin-top: 5px; }

@media (max-width: 600px) {
  header {
    margin-bottom: 6px; }
  a.heading {
    float: right;
    position: unset; }
  nav {
    margin-top: 5px;
    display: block;
    margin-left: -100vw;
    float: none;
    text-align: center; }
  nav.mainNavigation {
    margin-top: 5px;
    transition: 800ms ease-out; }
  ul {
    background: unset; }
  ul.menuContainer {
    width: 250px;
    padding: 0;
    border-radius: 0 0 6px 0; }
  a.navItems {
    font-size: 24px;
    display: block;
    padding: 0;
    width: 250px;
    height: 60px;
    line-height: 60px;
    background: #afc2cb; }
  a.last {
    border-radius: 0 0 6px 0; }
  .openClose {
    height: 60px;
    width: 60px;
    margin-left: -10px;
    margin-top: 10px; }
  .x, .y {
    height: 40px;
    width: 4px;
    background-color: ghostwhite;
    border-radius: 4px;
    margin-left: 28px; }
  .xOpen {
    transform: rotate(120deg);
    transition: 500ms ease-in-out; }
  .yOpen {
    margin-top: -21px;
    transform: rotate(-120deg);
    transition: 500ms ease-in-out; }
  .xClose {
    transition: 300ms ease-in-out;
    transform: rotate(-45deg);
    margin-top: 15px;
    height: 50px; }
  .yClose {
    transition: 300ms ease-in-out;
    transform: rotate(45deg);
    margin-top: -50px;
    height: 50px; }
  .menuMobileOpen {
    margin-top: 5px;
    margin-left: -20px;
    transition: 800ms ease-in; } }

@media (max-width: 600px) {
  div.profilePhoto {
    display: block;
    float: unset;
    margin: 0 auto; }
  section.about {
    display: block; }
    section.about div.text {
      padding-top: 20px; }
    section.about p {
      width: 100%; } }

@media (max-width: 600px) {
  .container {
    font-family: helvetica, sans-serif;
    text-align: center;
    width: 95vw;
    max-width: 1200px;
    margin: 100px auto 20px auto; }
    .container .currentSale {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      grid-gap: 20px; }
    .container .artworkContainer .title {
      font-size: 24px; }
    .container .artworkContainer img.artworkImage {
      width: 100%;
      height: auto; }
    .container .artworkContainer .info {
      font-size: 20px; } }
