  @media (max-width: 600px) {
    img.profilePhoto {
      height: 200px;
      display: block;
      float: none;
      margin: 0 auto;
    }
  section.about{
    display: block;

    div.text{
      padding-top: 20px;
    }

    p{
      width:100%;
    }
  }
}