@media (max-width: 660px){
  .artworkImageIndividual{
    display: block;
    margin-bottom: 0;
    width: 100%;
  }

  .informationContainer{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}