@media (max-width: 660px){
  .artworkImageIndividual{
    display: block;
    margin-bottom: 20px;
    width: 90vw;
  }

  .informationContainer{
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 90vw;
    margin-bottom: 40px;
  }
}