@media (max-width: 660px) {
  header{
    margin-bottom:6px;
  }
  a.heading{
    float: right;
    position: unset;
  }

  nav{
    margin-top:5px;
    display: block;
    margin-left: -100vw;
    float: none;
    text-align: center;
  }
  nav.mainNavigation{
    margin-top: 5px;
    transition: 800ms ease-out;
  }
  ul{
    background: unset;
  }

  ul.menuContainer{
    width: 250px;
    padding: 0;
    border-radius: 0 0 6px 0;
  }

  a.navItems{
    font-size: 24px;
    display: block;
    padding: 0;
    width: 250px;
    height: 60px;
    line-height: 60px;
    background: $dark;
  }
  a.last{
    border-radius: 0 0 6px 0;
  }

  .openClose {
    height: 60px;
    width: 60px;
    margin-left: -10px;
    margin-top: 10px;
  }

  .x,.y {
    height: 40px;
    width: 4px;
    background-color: $light;
    border-radius: 4px;
    margin-left: 28px;
  }
  .xOpen {
    transform: rotate(120deg);
    transition: 500ms ease-in-out;
  }

  .yOpen {
    margin-top: -21px;
    transform: rotate(-120deg);
    transition: 500ms ease-in-out;
  }

  .xClose {
    transition: 300ms ease-in-out;
    transform: rotate(-45deg);
    margin-top: 15px;
    height: 50px;
  }

  .yClose {
    transition: 300ms ease-in-out;
    transform: rotate(45deg);
    margin-top: -50px;
    height: 50px;
  }

  .menuMobileOpen {
    margin-top:5px;
    margin-left: -20px;
    transition: 800ms ease-in;
  }

  a.navHover:hover{
  color: $dark;
  background-color: $light;
  font-weight: bold;
}
}